body {
  overflow-y: auto;
  overflow-x: hidden; /* Evita scroll horizontal */
  margin: 0;
}

.skills-page {
  min-height: 100vh;
  padding: 20px;
  text-align: center;
  background-color: #121212; /* Ajuste para uma boa visualização */
  color: white;
}

.skills-page h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
}

.skills-page img {
  max-width: 75%;
  height: auto;
  margin: 0 8px;
  transition: transform 0.2s;
}

.skills-page img:hover {
  transform: scale(0.9);
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.back-button, .toggle-button {
  padding: 10px 15px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 5px;
}

.toggle-button {
  background-color: #28a745;
  color: white;
}

/* Skills container no modo "All Skills" */
.skills-container {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  overflow-y: auto;
}

.skills-container.active {
  display: flex;
}

.skill-item {
  max-width: 100px;
  margin: 10px;
  transition: transform 0.3s;
}

.skill-item img {
  width: 100px;
  height: 100px;
}

.skill-item img:hover {
  transform: scale(1.1);
}
