.skills-carousel {
  padding: 20px;
  text-align: center;
}

.skills-carousel h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333; /* Cor do título */
}

.skills-carousel img {
  max-width: 75%; /* Ajuste para tamanho menor */
  height: auto;
  margin: 0 8px; /* Espaçamento entre imagens */
  transition: transform 0.2s;
}

.skills-carousel img:hover {
  transform: scale(0.9); /* Efeito de hover mais sutil */
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Centraliza os botões */
}

.back-button, .toggle-button {
  padding: 10px 15px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 5px; /* Espaçamento entre botões */
}



.toggle-button {
  background-color: #28a745; /* Cor de fundo do botão "Ver Todas as Skills" */
}

.skills-container {
  display: none; /* Oculta por padrão */
}

.skills-container.active {
  display: flex; /* Exibe quando ativo */
}


.skill-item {
  max-width: 60px; /* Limitar a largura das imagens */
  margin: 10px;
}
