.skills-carousel {
  padding: 20px;
  text-align: center;
}

.skills-carousel h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333; /* Cor do título */
}

.skills-carousel img {
  max-width: 65%; /* Reduzir o tamanho das imagens */
  height: auto;
  margin: 0 4px; /* Espaçamento entre imagens */
  transition: transform 0.2s;
}

.skills-carousel img:hover {
  transform: scale(0.8);
}

.button-container {
  margin-top: 20px;
}

.back-button, .toggle-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 5px; /* Espaçamento entre botões */
}

.back-button {
  background-color: #007bff; /* Cor de fundo do botão "Back" */
}

.back-button:hover {
  background-color: #0056b3; /* Cor ao passar o mouse */
}

.toggle-button {
  background-color: #28a745; /* Cor de fundo do botão "Ver Todas as Skills" */
}

.toggle-button:hover {
  background-color: #218838; /* Cor ao passar o mouse */
}

.skills-container {
  display: none; /* Ocultar por padrão */
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.skills-container.active {
  display: flex; /* Exibir quando ativo */
}

.skill-item {
  max-width: 80px; /* Limitar a largura das imagens */
  margin: 10px;
}
