@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  background-color: #121212;
  color: #ffffff;
}

@layer base {
  body {
    @apply bg-gray-900 text-white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #121212 !important;
    color: #ffffff !important;
  }
}
