/* Definindo um layout responsivo para fontes e espaçamentos */
html, body, #root {
  height: 100%;
  width: 100%;
  font-family: 'Kodchasan', sans-serif;
  overflow-x: hidden; /* Evita o scroll horizontal em telas menores */
}

body {
  background-color: #121212;
  padding: 1rem;
}

/* Ajuste para fontes e layout em telas menores */
@media (max-width: 768px) {
  body {
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  body {
    padding: 0.25rem;
  }
}
